<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
  <property>
    <name>dfs.blocksize</name>
    <value>{{ DFS_REPLICATION }}</value>
  </property>
  <property>
    <name>dfs.permissions.superusergroup</name>
    <value>{{ DFS_PERMISSIONS_SUPERUSERGROUP }}</value>
  </property>
  <property>
    <name>dfs.namenode.http.address</name>
    <value>0.0.0.0:{{ DFS_NAMENODE_HTTP_ADDR_PORT }}</value>
  </property>
   <property>
    <name>dfs.datanode.address</name>
    <value>0.0.0.0:{{ DFS_DATANODE_ADDRESS_PORT }}</value>
  </property>
  <property>
    <name>dfs.datanode.http.address</name>
    <value>0.0.0.0:{{ DFS_DATANODE_HTTP_ADDRESS_PORT }}</value>
  </property> 
  <property>
    <name>dfs.namenode.name.dir</name>
    <value>{{ DFS_NAME_DIR }}</value>
  </property>
  <property>
    <name>dfs.datanode.data.dir</name>
    <value>{{ DFS_DATA_DIR }}</value>
  </property>
</configuration>  
